export(create_relminer)
export(count_occurrences)
export(build_cooccurrence_query)
export(count_cooccurrences)
export(find_rels)
export(create_term)
export(find_abstracts)

import(httr)
import(jsonlite)
import(stringr)
import(tokenizers)
import(parallel)
