export(create_relminer)
export(count_occurrences)
export(build_cooccurrence_query)
export(count_cooccurrences)
export(find_cooccurrences)
export(find_abstracts)
export(find_sentences_with_cooccurrences)
export(create_term)
export(create_terms_list)
